<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johanpalacios.golearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoLearning">
        <activity
            android:name=".content.operativeSystemGL.installOperativeSystem"
            android:exported="false" />
        <activity
            android:name=".content.operativeSystemGL.freeSoftware"
            android:exported="false" />
        <activity
            android:name=".content.operativeSystem"
            android:exported="false" />
        <activity
            android:name=".content.network.createBasicNetwork"
            android:exported="false" />
        <activity
            android:name=".content.network.components_network"
            android:exported="false" />
        <activity
            android:name=".content.networks"
            android:exported="false" />
        <activity
            android:name=".content.webtopic.historyweb"
            android:exported="false" />
        <activity
            android:name=".content.web"
            android:exported="false" />
        <activity
            android:name=".content.componetsPC"
            android:exported="false" />
        <activity
            android:name=".content.cibersecuritytopics.privOnline"
            android:exported="false" />
        <activity
            android:name=".content.cibersecuritytopics.protectData"
            android:exported="false" />
        <activity
            android:name=".content.cibersecuritytopics.PanoramicCiber"
            android:exported="false" />
        <activity
            android:name=".content.cibersecuritytopics.analizeciber"
            android:exported="false" />
        <activity
            android:name=".content.cibersecuritytopics.ciberwar"
            android:exported="false" />
        <activity
            android:name=".content.cibersecuritytopics.profesionalciber"
            android:exported="false" />
        <activity
            android:name=".content.cibersecuritytopics.dataorg"
            android:exported="false" />
        <activity
            android:name=".content.cibersecuritytopics.data"
            android:exported="false" />
        <activity
            android:name=".content.cibersecurity"
            android:exported="false" />
        <activity
            android:name=".content.ofimatica"
            android:exported="false" />
        <activity
            android:name=".content.software"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>